body {
  background-color: #052F47;
}

button {
  width: 100px;
  height: 100px;
  font-size: 30px;
  font-weight: bolder;
  margin: 3px 20px 3px -10px;
  border-radius: 4px;
  background-color: #7A7A7A;
  box-shadow: none;
}

.operationButton {
  background-color: #90BE32;
}

.row:last-child {
  margin-bottom: 40px;
}

.valueButton {

}

#clearButton {
  background-color: #f39C12;
}

#title {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.container {
  margin-top: 30px;
  width: 60%;
  text-align: center;
  background-color: #CCCCCC;
  border-radius: 10px;

}

#display {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 30px;
}

#submitButton {
  background-color: #C24428;
}
