body {
  background-color: black;
}

button {
  width: 100px;
  height: 100px;
  margin: 5px -10px;
  border-radius: 10px;
}

.container {
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

#display {
  width: 200px;
  text-align: center;
}

#submitButton {
  width: 335px;
  height: 100px;
}
